main[lang="json"][data-user="grey"] {
    .node {
        border: none;
    }

    .node.multiple > ol {
        list-style: none;
        margin-block: 0;
        padding-inline: 0;

        display: grid;
        grid-template-columns: min-content auto;
        column-gap: 0.5em;
        row-gap: 1em;

        & > li {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: span 2;
            margin: 0;

            & > .node.entry {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: span 2;

                & > * {
                    grid-column: span 2;
                }

                & > ol {
                    display: grid;
                    grid-template-columns: subgrid;
                }
            }
        }
    }

    .node.fixed > ol {
        list-style: none;
        margin-block: 0;
        padding-inline: 0;
    }

    .node {
        border-radius: 1em;
        padding: 1em;
    }

    .node.null {
        color: white;
        font-weight: bold;
        background-color: red;
    }
}