main[lang="json"] {
    .entry {
        & > ol {
            list-style: none;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            & > li + li {
                margin-left: 0.5em;
            }
        }
    }
}
